/venv
/.venv
.env
/media
/data
/.tmp
/.ultralytics
/__pycache__
/.pytest_cache
/dist
/build
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
/dataset_v0
/dataset
/archive/base-model-checkpoints
/archive/training-results/RoadDetectionModel/RoadModel_yolov8m.pt_rounds120_b9/weights
/archive/training-results/RoadDetectionModel/RoadModel_yolov8m.pt_rounds120_b9/events.out.*
